   $num-zero: 0;
   $num-one: 1;
   $num-ten: 10;
   $num-twenty: 20;
   $num-tirty: 30;
   $num-sixty: 60;
   $num-seventy: 70;
   $num-hundred: 100;
   $px: $px;
   $vh: vh;
   $vw: vw;
   * {
        margin: $num-zero;
        padding: $num-zero;
    }
    @mixin flex-column {
        display: flex;
        flex-flow: column nowrap;
    }

    @mixin nav-item {
        height: $num-sixty + $px;
        background: cyan;
        margin: $num-twenty + $px $num-twenty + $px $num-zero $num-twenty + $px;
    }
    @mixin content-item {
        flex: $num-one;
        background: darkgrey;
        margin: $num-twenty + $px;
    }
    .all-parent {
        width: $num-hundred + $vw;
        height: $num-hundred + $vh;
        @include flex-column();
        overflow: hidden;
    }

    .header {
        height: $num-seventy + $px;
        background: red;
        display: flex;
        align-items: center;
        .icon {
            width: $num-tirty + $px;
            height: $num-tirty + $px;
            background: blue;
            margin-left: $num-ten + $px; 
        };
        .title {
            height: $num-tirty + $px;
            flex: $num-one;
            background: chartreuse;
        }
        .user {
            width: 50$px;
            height: $num-tirty + $px;
            background: blueviolet;
            margin-right: $num-ten + $px;
        }
    }

    .nav-content {
        flex: $num-one;
        background: green;
        display: flex;
        .nav {
            width: $num-hundred + $px;
            background: pink;
            @include flex-column();
            .system, .user, .test, .exam, .result{
                @include nav-item();
            }
        };
        .content {
            flex: $num-one;
            background: darkorange;
            @include flex-column();
           .progress, .finish{
                @include content-item();  
           } 
        }
    }